{% extends "base.html" %}
{% block title %}Password Update{% endblock %}
{% block content %}
<!-- Password Update Form -->
<div style="text-align: center;">
        <!-- Include flash messages -->
    {% include 'flash_messages.html' %}
    <h2>Password Update</h2>
    <form action="{{ url_for('change_password') }}" method="post">
        <label for="current_password">Current Password:</label><br>
        <input type="password" id="current_password" name="current_password"><br><br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password"><br><br>
        <label for="confirm_password">Confirm New Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <button type="submit">Update Password</button>
    </form>
</div>
{% endblock %}