{% extends "base.html" %}
{% block title %}References{% endblock %}
{% block content %}
<table style="width:100%; text-align: center;">
  <!-- Header section -->  
  <tr>
    <th colspan="3">References</th>
  </tr>
  <!-- Reference list -->
  <tr>
    <td>1</td>
    <td>Michali. (2022, July 6). <i>What is Secure Coding?</i> Check Point Software.<br>
        <a href="https://www.checkpoint.com/cyber-hub/cloud-security/what-is-secure-coding/">
        https://www.checkpoint.com/cyber-hub/cloud-security/what-is-secure-coding/</a></td>
    <td>(Michali, 2022)</td>
  </tr>
  <tr>
    <td>2</td>
    <td><i>Pyre | Pyre.</i> (n.d.). <a href="https://pyre-check.org/">https://pyre-check.org/</a></td>
    <td>(Pyre | Pyre, n.d.)</td>
  </tr>
  <tr>
    <td>3</td>
    <td><i>Safety CLI 3 - Python Vulnerability Scanner.</i> (n.d.).<br>
        <a href="https://safetycli.com/product/safety-cli">
        https://safetycli.com/product/safety-cli</a></td>
    <td>(Safety CLI 3, n.d.)</td>
  </tr>
  <tr>
    <td>4</td>
    <td><i>Source Code Analysis Tools | OWASP Foundation.</i> (n.d.).<br>
        <a href="https://owasp.org/www-community/Source_Code_Analysis_Tools">
        https://owasp.org/www-community/Source_Code_Analysis_Tools</a></td>
    <td>(Source Code Analysis Tools, n.d.)</td>
  </tr>
  <tr>
    <td>5</td>
    <td><i>The Open-Source Code security tool RoundUp.</i> (2023, December 20). wiz.io.<br>
        <a href="https://www.wiz.io/academy/open-source-code-security-tools#python-scanners-61">
        https://www.wiz.io/academy/open-source-code-security-tools#python-scanners-61</a></td>
    <td>(The Open-Source Code security tool RoundUp, 2023)</td>
  </tr>
  <tr>
    <td>6</td>
    <td><i>Welcome to Bandit — Bandit  documentation.</i> (n.d.).<br>
        <a href="https://bandit.readthedocs.io/en/latest/">https://bandit.readthedocs.io/en/latest/</a></td>
    <td>(Welcome to Bandit, n.d.)</td>
  </tr>
</table>

<!-- Navigation links with forward and backward buttons -->
<div style="text-align: center;"><h4>Navigation</h4>
<ul style="text-align: center;">
    <li><a href="title_page" class="button">&#9664;&#9664; Title Page</a></li>
    <li><a href="body" class="button">&#9664; Body</a></li>
</ul></div>
{% endblock %}